body{
    font-family: Arial;
   color: white;
   background-color: black;
   text-align: center;
}
#main-heading{
    text-align: center;
}
.grid-container{
    
    display: grid;
    grid-template-columns: 200px 150px 50px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}
#todo-input , #todo-date{
    font-size: 15px;
    padding: 8px 6px;
}

.btn-delete {
    background-color: rgb(8, 8, 8);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 0px;
    cursor: pointer;
}.btn-todo{
    background-color: rgb(6, 6, 6);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 0px;
    cursor: pointer;
    
}